body {
    background-color: #C4956A;
    color: #fff;
    padding: 0 3%;
}

#app-title {
    text-align: center;
    font-size: 2rem;
}

#task-counter {
    font-size: 1.7rem
}

.task-container {
    padding: 1% 5%;
    padding-bottom: 5%;
    min-height: 20vh;
    background-color: #9F7147;
    border-radius: 10px;
}

.completed {
    color: rgba(255, 255, 255, 0.5);
    
    text-decoration: line-through;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.task-card {
    display: flex;
    align-items: start;
    align-content: start;
}

.task-info > * {
    margin: 0;
}

.task-title {
    max-width: 12rem;
    white-space: nowrap; /* no next line allowed */
    overflow: hidden;
    text-overflow: ellipsis /* add ellipsis at the end if the text overflows */
}

.task-description {
    color: rgba(255, 255, 255, 0.7);

    /* Set up the two lines max layout to the task description */
    display: -webkit-box; /* set old layout model (flexbox "legacy") */
    line-clamp: 2; /* max 2 lines */
    -webkit-box-orient: vertical; /* use a vertical layout */
    overflow: hidden; /* hide all the text after the maximum */
    text-overflow: ellipsis;
    line-height: 1.4;
}

.checkbox {
    margin-right: 1rem;
    appearance: none;

    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid #FFCFA1;

    transition: 0.2s all ease-in-out;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    cursor: pointer; /* cursor (desktop/web) */
}

.checkbox:checked {
    background: #FFCFA1;
}

.break-line {
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin: 1rem 0;
}

.button {
    background: #FFCFA1;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}

.button:active {
    background: #e4ba90;
    transition: 0.1s all ease-in-out;
}

#new-task {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#new-task > .button {
    font-size: 3rem;
    font-weight: 400;
}