body {
    padding: 0;
    margin: 0;
}

.container {
    background: #9F7147;
    width: 100%;
    height: 85%;

    position: absolute;
    top: 5%;

    border-radius: 1.2rem;
}

#title {
    font-size: 3rem;
}

.back-button {
    background: none;
    border: none;
    color: white;
    
    padding: 3%;
}

.info-container {
    padding-left: 5%;
}

.input {
    display: flex;
    align-items: start;
    padding-bottom: 3%;
}

.input > textarea, input {
    margin-left: 3%;

    background: none;
    color: white;

    outline: none;

    font-size: 1.2rem;
}

.input > textarea {
    border: none;
}

.input > textarea::placeholder {
    color: white;
}

.input > input {
    border: 2px solid white;
    border-radius: 0.5rem;
    height: 2rem;
}

#mark-completed {
    font-size: 1.3rem;
    font-weight: 900;
}