body {
    padding: 0;
    margin: 0 !important;
}

#task-container {
    background: #9F7147;
    width: 100%;
    height: 85%;

    position: absolute;
    top: 5%;

    border-radius: 1.2rem;

    padding: 0 10%;
}

#task-title {
    padding-top: 5%;
}